:root {
  --primary-color: #2875d9;
}

@font-face {
  font-family: "Computer Modern";
  src: url('/assets/fonts//cmunrm.ttf');
}

html, body, #write {
  font-family: 'Computer Modern';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Computer Modern';
}

html {
  font-size: 20px;
}

#write {
  max-width: 914px;
  text-align: justify;
}

p {
  font-size: 1rem;
}

a {
  color: var(--primary-color);
}

sup {
  background-color: transparent;
  color: var(--primary-color);
  padding: 1px;
  margin: 0;
}

code {
  background: #f2f2f2;
}

blockquote {
  margin: 0 0 1.11111rem;
  padding: 0.5rem 1.11111rem 0 1.05556rem;
  border-left: 1px solid gray;
}

blockquote, blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

mark {
  background: yellow;
}

.wrapper {
  max-width: 980px;
  margin: auto;
  padding: 0 30px;
}

time {
  color: #333;
  font-size: 0.9em;
}

.post-link {
  margin-top: 0.2em;
  font-weight: 300;
}

ul li {
  margin-bottom: .6rem;
}

/**
 * Site header
 */

.header {
  border-bottom: 1px solid #e8e8e8;
  height: 65px;
  font: 300 1.2em/1.5 sans-serif;
}

.header__title {
  font-size: 26px;
  font-weight: 300;
  line-height: 65px;
  letter-spacing: 1px;
  margin-bottom: 0;
  float: left;
  color: #111;
  text-decoration: none;
}

.header__nav {
  float: right;
  line-height: 65px;
}

.header__nav a {
  color: #111;
  margin-right: 15px;
  text-decoration: none;
}

/* Site Main */

.main {
  padding: 30px 0;
}

/* Footer */

.footer {
  border-top: 1px solid #e8e8e8;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* List of blog entries */

.blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 480px) {
  amp-img {
    max-width: 500px;
    margin: 30px auto;
  }
  amp-img.xl {
    max-width: initial;
  }
}